NODE_ENV=development
API_PORT=4000
DATABASE_URL=postgresql://<user>:<password>@<host>:5432/<database>?sslmode=require
SHADOW_DATABASE_URL=postgresql://<user>:<password>@<host>:5432/<database>_shadow?sslmode=require
APP_LOGIN_PASSWORD=demo123
WEB_ORIGIN=http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAILERSEND_EMAIL_TOKEN=
MAILERSEND_EMAIL_DOMAIN=
COLONUS_EMAIL=
